.header-logo {
	padding-top: 20px;
}

@media (min-width: 992px)
{
	.left-column-content {
		border-right: 1px dotted grey; 
		padding-right: 20px;
	}
}

button {
	margin: 10px;
}

li {
	margin-bottom: 5px;
}

ul, ol {
	padding-top: 10px;
	padding-bottom: 5px;
}

code {
	color: black;
}

@media (min-width: 992px)
{
	hr {
		border-top: 1px dotted grey; 
	}
}

@media (max-width: 991px)
{
	hr {
		border-top: 0; 
	}
}

.panel .panel-heading {
	border-bottom: 0;
	background-color: white;
	font-style: italic;
}

.table-urls {
	margin-bottom: 10px;
}

.table-urls,
.table-urls thead tr,
.table-urls thead tr td {
	border: none;
}

.table-urls tr td {
	padding-right: 10px;
}

#last-deploy-date {
	font-size: 10px;
	font-family: Source Code Pro, monospace;
	color: #aaa;
	float: right;
}
